<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conversor</title>
</head>

<body>
    <form action="/conversor" method="post">
        <input type="number" name="InputValue"></input>
        <select name="de">
            <option value="millas">millas</option value="km">
            <option>km</option>
            <option value="m">m</option>
            <option value="yardas">yardas</option>
        </select>
        <select name="a">
            <option value="millas">millas</option value="km">
            <option>km</option>
            <option value="m">m</option>
            <option value="yardas">yardas</option>
        </select>
        <input type="number" name="Resultado" value="<%= Result %>" disabled></input>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>